<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Nhóm TTTV</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
        body {
            background-color: #F0F0F0;
        }

        .navbar-inverse {
            background-color: #39B54A;
            border-color: #39B54A;
        }

        .top_header {
            background-color: black;
            padding-left: 110px;
            color: white;
        }

        .form-inline {
            float: right;
            padding-top: 10px;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: white;
            font-size: x-large;
        }

        .navbar-inverse .navbar-brand {
            color: white;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: white;
            font-size: large;
        }

            .navbar-inverse .navbar-nav > li > a:hover {
                color: black;
            }

        .navbar-brand {
            color: cadetblue;
        }

        .spnoibat {
            background-color: white;
        }

            .spnoibat h3 {
                padding-left: 30px;
            }

        .giohang {
            color: white;
        }
    </style>

</head>
<body>

    @{ var u = Session["use"] as LapTrinhWeb_NhomTTTV.Models.Nguoidung; }

    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="top_header col-md-12">

            <div class="row">
                <div class="col-sm-4 col-md-0" style="font-size:large">TTTV</div>

                <div class="col-sm-4 col-md-0" style="padding-left:250px; text-decoration:none; color:white;">
                    @Html.Action("GiohangPartial", "GioHang", new { @class = "GioHang" })
                </div>
                @*@Html.Action("GiohangPartial", "GioHang",new { @style = "color:while" })*@
                @{ if (u != null)
                    {
                        <div class="col-sm-4 col-md-0">
                            Xin chào : @u.Email
                            &nbsp;
                            @*@Html.ActionLink("ĐĂNG XUẤT", "DangXuat", "User", new { style = "color:red" })*@
                            <a style="color:red" href="/User/DangXuat"> ĐĂNG XUẤT</a>
                        </div> }
                    else
                    {
                        <div class="col-sm-4 col-md-0">
                            <a style="color:white" href="/User/Dangky"> Đăng ký</a>
                            &nbsp;
                            <a style="color: white" href="/User/Dangnhap"> Đăng nhập</a>
                        </div>
                    }
                }


            </div>

        </div>
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-brand" src="~/img/Logo.png" width="50" height="50" style="padding:0" />
                @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>

            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li>
                        <a href="/Home/Index" title="TRANG CHỦ">
                            @*<span><i class=" glyphicon-music "></i></span>*@
                            <span>TRANG CHỦ</span>

                        </a>
                        @*<span><i class=" glyphicon-music "></i> </span>
                            <br />
                            <span>@Html.ActionLink("Trang chủ", "Index", "Home") </span>*@
                    </li>
                    <li>
                        <a href="#" title="khuyenmai">
                            @*<span><i class="fas fa-tablet"></i></span>*@
                            <span>KHUYỄN MÃI</span>

                        </a>

                    </li>
                    <li>
                        <a href="#" title="gioithieu">
                            @*<span><i class="fas fa-desktop"></i></span>*@
                            <span>GIỚI THIỆU</span>

                        </a>
                    </li>
                    <li>
                        <a href="/Home/Contact" title="LIENHE">
                            @*<span><i class="fas fa-headphones"></i></span>*@
                            <span>LIÊN HỆ</span>

                        </a>
                    </li>

                    <li>
                        <a style="color:white"
                           class="nav-link"
                           href="@Url.Action("Index", "DonHangs")">ĐƠN HÀNG</a>
                    </li>
                    <li>
                        <a class="nav-link">
                            @using (Html.BeginForm("KetQuaTimKiem", "TimKiemSanPham", FormMethod.Post, new { }))
                            {
                                <input type="search" name="txtTimKiem" placeholder="Nhập tên sản phẩm" required autocomplete="off">

                            }
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>


    <br>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <div>
            <img class="img-responsive" src="~/img/ban1.jpg" />
        </div>
        <br />
    </div>
    <footer class="bg-info" style="padding-left:50px">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h2>Bảo hành</h2>
                <span>Chính sách mua hàng</span>
                <br />
                <span>Chính sách bảo hành</span>
                <br />
                <span>Trung tâm bảo hành</span>
                <br />
                <span>Tra cứu bảo hành</span>
            </div>
            <div class="col-md-3 col-sm-6">
                <h2>Liên kết</h2>
                <span>Tin tức Mobile</span>
                <br />
                <span>Lập trình Web</span>
                <br />
                <span>GenkVN</span>
                <br />
                <span>Dân trí</span>


            </div>
            <div class="col-md-3 col-sm-6">
                <h2>Thông tin</h2>
                <span>Về chúng tôi</span>
                <br />
                <span>Liên hệ</span>
                <br />
                <span>Góp ý</span>
                <br />
                <span>Tra cứu</span>
            </div>
            <div class="col-md-3 col-sm-6">
                <h2>Theo dõi</h2>
                <span>Kênh youtube</span>
                <br />
                <span>Fanpage</span>
                <br />
                <span>Shopee</span>
                <br />
                <span>Group</span>

            </div>
        </div>
        <hr />
        <center> <p class="bg-primary">&copy; @DateTime.Now.Year - TTTV</p></center>
    </footer>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
