@{ ViewBag.Title = "TTTV SHOP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div class="col-md-8">
        <img class="img-responsive" src="~/img/banner.jpg" width="650px" />
    </div>
    <div class="col-md-4">
        <img src="~/img/qc3.jpg" class="img-responsive" alt="" />
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>
<div>
    <img class="img-responsive" src="~/img/ban.jpg" />
</div>
<br />
<div class="spnoibat">
    <div class="row">

        <h3> SẢN PHẨM NỔI BẬT</h3>
        <div class="col-md-4">
            <img src="~/img/spnb1.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-4">
            <img src="~/img/spnb2.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-4">
            <img src="~/img/spnb3.jpg" class="img-responsive" alt="" />
        </div>
    </div>
</div>
@*<div class="danhmuc">
        @Html.Action("DanhmucPartial", "Danhmuc")
    </div>*@

<div class="dt">
    @Html.Action("dtCPU", "ViewSP")
</div>

<div class="dt">
    @Html.Action("dtGPU", "ViewSP")
</div>

<div class="dt">
    @Html.Action("dtRAM", "ViewSP")
</div>

<div class="dt">
    @Html.Action("dtSSD", "ViewSP")
</div>

<div class="dt">
    @Html.Action("dtHHD", "ViewSP")
</div>

<div class="dt">
    @Html.Action("dtNguon", "ViewSP")
</div>

<div class="dt">
    @Html.Action("dtMain", "ViewSP")
</div>

<div class="dt">
    @Html.Action("dtCase", "ViewSP")
</div>

<div class="dt">
    @Html.Action("dtFan", "ViewSP")
</div>
<div class="row">
    <h2> Tin tức sản phẩm</h2>
    <div class="col-md-8">
        Video
    </div>
    <div class="col-md-4">
        Tin tức
    </div>
</div>














